<header>
    <h1>Budgtr</h1>
    <button><a href="/budget" type="btn" class="back-btn">Home</a></button>
    <button><a href="/budget/new" type="btn" class="new-btn">add expense or income</a></button>
    <button><a href="/budget/edit" type="btn" class="edit-btn">edit expense or income</a></button>
 <br>



<script>

<% for (let i=0; i<budget.amount.Number; i++) { %>


const budget = 



let accountArr = []
let totalBal = accountArr + i
for (let i = 0; i < budget.length; i++) {
  accountArr.push(Number(budget.amount))
  totalBal += (Number(budget.amount))
  console.log(totalBal)
}

res.send(`${totalBal}`)

</script>

  </header>