<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgtr Edit</title>
    

    

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/skeleton.css" />
</head>
<body>
  <main>
   
    <h1>Edit Page</h1>

    <div>
    <form action="/budget/<%= i %>?_method=PUT" method="POST">
        <!--  NOTE: the form is pre-populated with values for the server-->
        Name: <input type="text" name="name" value="<%=budget.name%>" /><br />
        Color: <input type="number" name="amount" value="<%=budget.amount%>" /><br />
            <br />
            <input type="submit" name="" value="Submit Changes" />
    </form>
   
    </div>


</main>
</body>
<footer> 
<button><a href="/budget" type="btn" class="back-btn">go back</a></button>
<button><a href="/budget/new" type="btn" class="new-btn">add expense or income</a></button>
<button><a href="/budget/edit" type="btn" class="edit-btn">edit expense or income</a></button>



</footer>
</html>