<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgtr Edit</title>
    

    

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/skeleton.css" />
</head>
<body>
  <main>



        <tr>
          
          <td>  <%= budget[i].date %></td>
          <td>  <a href="/budget/<%=i%>"> <%= budget[i].name %></a> </td>
          <td>  <%= budget[i].amount %>  </td>
      
      </tr>
      
        
   


    <h1>Edit Page</h1>

    

    <form action="/budget/<% for(let i = 0; i < budget.length; i++) { %>?_method=PUT" method="POST">
       
                Name: <input type="text" name="name" /><br />
                amount: <input type="number" name="amount" /><br />
        
                date: <input type="date" name="date" /><br />
        
                from: <input type="text" name="from" /><br />
                Tags: <input type="text" name="Tags" /><br />
               
                 
      <% } %>
                <input type="submit" name="" value="Submit Changes" />
        
              </form>
   
   
   
   
   
        </form>
    </div>
</main>
</body>
<footer> 
<button><a href="/budget" type="btn" class="back-btn">go back</a></button>
<button><a href="/budget/new" type="btn" class="new-btn">add expense or income</a></button>
<button><a href="/budget/edit" type="btn" class="edit-btn">edit expense or income</a></button>



</footer>
</html>