<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgtr</title>
    <link rel="stylesheet" href="/public/normalize.css" />
    <link rel="stylesheet" href="/public/skeleton.css" />
</head>
<body>
    <main>
      <h1>Budget</h1>
    <span>
 <table>
  
        
          <tr>
            <% for(let i = 0; i < budget.length; i++) { %>
              
              <td><>  <%= budget[i].date %> </ul> </td>

             <td> <ul>  <a href="/budget/<%=i%>"> <%= budget[i].name %></a></ul>  </td>
           <td> <ul>   <%= budget[i].amount %> </ul>  <td>
            <% } %>
         
        
          </tr>
          <br>

      </table>






    <br>

      </main>
    

     

    
</body>
</html>