<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<link rel="stylesheet" href="normalize.css" />
<link rel="stylesheet" href="skeleton.css" />
</head>
<body>
    

    <form action="/budget" method="POST">
        Name: <input type="text" name="name" /><br />
        amount: <input type="number" name="amount" /><br />

        date: <input type="number" name="date" /><br />

        from: <input type="text" name="from" /><br />
        Tags: <input type="text" name="from" /><br />

        date: 'April 1',
        name: 'Income',
        from: 'Old Glory Insurance',
        amount: 1000,
        tags: ['income', 'yay']


        <input type="submit" value="add" />
      </form>


</body>
</html>










